SPRING_PROFILES_ACTIVE=mysql

# SERVER
SERVER_PORT=8080
APP_API_PREFIX=/api/v1
APP_BASE_URL=https://aerostride.me
ALLOWED_ORIGIN=https://aerostride.me

# DATABASE
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=aerostride_db
MYSQL_USER=aerostride_user
MYSQL_PASSWORD=your_user_password
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/aerostride_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=aerostride_user
SPRING_DATASOURCE_PASSWORD=your_user_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
SPRING_CACHE_TYPE=simple

# MAIL SERVER
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS_ENABLE=false
MAIL_SMTP_STARTTLS_REQUIRED=false
MAIL_DEBUG=false

# CLOUDINARY
CLOUDINARY_NAME=your-cloud-name
CLOUDINARY_KEY=your-api-key
CLOUDINARY_SECRET=your-api-secret

# VNPAY
VNP_TMN_CODE=your_vnp_tmn_code
VNP_HASH_SECRET=your_vnp_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_CLIENT_IP=127.0.0.1
ORDER_CLEANUP_THRESHOLD_MS=86400000

# SECURITY
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
ALLOWED_ORIGIN=http://localhost:5173

# DEFAULT ADMIN BOOTSTRAP
APP_BOOTSTRAP_ADMIN_ENABLED=true
APP_BOOTSTRAP_ADMIN_EMAIL=nguyenhuyducbg19062002@gmail.com
APP_BOOTSTRAP_ADMIN_PASSWORD=123456
APP_BOOTSTRAP_ADMIN_USERNAME=admin.aerostride
APP_BOOTSTRAP_ADMIN_NAME=Nguyen Huy Duc
APP_BOOTSTRAP_ADMIN_PHONE=0123456789
APP_BOOTSTRAP_ADMIN_BIRTH_DATE=2002-06-19
APP_BOOTSTRAP_ADMIN_GENDER=true
